body{
	margin:0px;
}
#nav{
	background-color:black;
	height: 50px;
	width: 100%;
	position: fixed;
}
.nav li {
	float: left;
	margin-left: 30px;
	/*去掉导航栏中li中出现的小原点*/
	list-style-type: none;
}
.nav li a{
	text-decoration: none;
	background-color:#1b1b1b;
	color: white;
	font-size: 20px;
}
/*jumbotront特效css*/
.jumbotron{
  font-size: 72px;
  height:80px;
  width: 100%;
  margin-top: 50px;
  padding: 30px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
  background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */	
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  /*在这里top和right和我们在常见的css中使用的是一样的意思*/
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../images/bs-docs-masthead-pattern.png) repeat center center;
  /*我们必须在这里设定height，因为我们在background属性当中设定了repeat如果不设定height那么将出现整个背景都是这个图案*/
  height: 140px;
  opacity: 0.75;

}

